.containerW {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header {
  flex: 0 0 auto;
}

.clothing-list {
  flex: 1;
  position: absolute;
  width: calc(100% - 40px); /* Adjust width for padding and margins */
  top: 120px;
  left: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 items per row */
  grid-auto-rows: minmax(150px, auto); /* Minimum row height */
  grid-gap: 20px; /* Space between items */
}

.clothing-image img {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 8px; /* Optional: rounded corners for images */
}

.NavbarFooter {
  flex: 0 0 auto;
}
