.containerW {
  height: 100%;
  /* Set container height to 100% of viewport height */
}

.UploadBTNRoute {
  position: absolute;
  top: 60px;
  left: 100px;
  right: 100px;
  background-image: linear-gradient(to left, #c1b1a7 0%, #876253 51%, #b89587 100%);
  margin: 1px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;

}

.MP_ALL {
  position: absolute;
  width: 90%;
  top: -50px;
  left: 5px;
}

.clothing-list {
  flex: 1;
  position: absolute;
  width: 90%;
  top: 120px;
  left: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
  /* פחות מרווחים בין הפריטים */
  padding-bottom: 50px;
}

.PUclothing-list {
  flex: 1;
  position: absolute;
  width: 90%;
  top: 60px;
  left: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
  /* פחות מרווחים בין הפריטים */
}

.PUup-button {
  position: absolute;
  left: 30px;
  border: none;
}

#PUh2header {
  font-family: "Urbanist", sans-serif;
}

.clothing-item {
  box-sizing: border-box;
  margin: 10px auto;
  position: relative;
  /* נגדיר את המיקום של האייקון כתלוי במיקום הימני תחתון של התמונה */
  border: 1px soild #252525;
  width: 160px;
}

.clothing-image img {
  width: 100%;
  height: 240px;
  /* שמירה על הפרופורציות של התמונה */
  /* max-width: 100%; */
  /* גודל מקסימלי לרוחב */
  /* max-height: 200px; */
  /* גודל מקסימלי לגובה, לדוגמה */
  display: block;
  margin-bottom: 10px;
  object-fit: contain;
  /* שמירה על הפרופורציות בתוך הגודל המוגדר */
}

.clothing-details {
  padding: 2px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.clothing-details p {
  margin: 5px 0;
  color: black;
}

.fav {
  position: absolute;
  bottom: 85px;
  right: 10px;
  z-index: 1;
}

.opt {
  position: absolute;
  bottom: 85px;
  left: 10px;
  z-index: 1;
}

.popup {
  position: absolute;
  bottom: 100px;
  z-index: 1;
}

#del_sale_icon {
  position: relative;
  bottom: 2px;
  right: 2px;
  /* הזזת האייקונים למטה */
}

#item_details_container {
  position: absolute;
  top: 20px;
  left: 30px;
  right: 30px;
  bottom: 60px;
  padding: 10px;
}

#item_details_container img {
  max-height: 250px;
  margin-top: 10px;
}

#item_details_container strong {
  font-size: 22px;
}

/* #w_header {
  position: fixed;
  left: 50px;
  right: 50px;
  margin-top: 5px;
}

#h_header {
  font-size: 20px;
} */