.SN_Container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
  }
  
  .SN_Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    width:400px;
  }
  
  .SN_Header h2 {
    margin: 0;
    text-align: center;
    position: relative;
    left: 100px;
    right:100px;
  }
  
  .header-icon {
    font-size: 2rem;
    padding-left: 10px;
  }
  
  .SN_Center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .add-friend {
    position: absolute;
    top:100px;
    width: 300px;
    padding: 20px;
    background: linear-gradient(90deg, rgba(112,99,88,0.18) 0%, rgba(214,190,168,1) 62%);
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;

  }
  
  .add-friend:hover {
    background: linear-gradient(90deg, rgba(112,99,88,0.25) 0%, rgba(214,190,168,1) 62%);
  }
  
  .wardrobe-icon {
    font-size: 3rem;
  }
  
  .SN_Footer {
    padding: 10px;
    background-color: #f8f9fa;
  }
  
  @media only screen and (max-width: 430px) {
    .SN_Container {
      padding: 5px;
    }
    
    .SN_Header {
      padding: 5px;
    }
    
    .header-icon {
      font-size: 1.5rem;
      padding-left: 5px;
    }
    
    .add-friend {
      padding: 15px;
    }
    
    .wardrobe-icon {
      font-size: 2rem;
    }
  }
  