.look-image {
    max-width: 200px;
    max-height: 200px; /* או גובה אחר שתרצה */
    margin: auto; /* כדי ליצור את התמונה במרכז */
    display: block; /* כדי להשיג מראה תמונה יציבה */
    object-fit: contain; /* לשמור על יחס גובה/רוחב של התמונה */
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  .slick-prev,
  .slick-next {
    font-size: 0; /* להסתיר את הטקסט של הכפתור */
    background-color: transparent; /* לשמור על רקע שקוף */
  }
  
  .slick-prev:before,
  .slick-next:before {
    font-size: 30px;
    color: black; /* לשנות את הצבע של החיצים לשחור */
  }
  
  .slick-prev {
    left: -25px; /* התאמת מיקום הכפתור */
  }
  
  .slick-next {
    right: -25px; /* התאמת מיקום הכפתור */
  }
  