.app-container {
  text-align: center;
}

.LogoFont3 {
  position: absolute;
  top: -10px;
  right: 0px;
  left: 0px;
  margin-bottom: 3px;
}

.PUup-button {
  z-index: 10;
  position: absolute;
  left: 0px;
  top: -15px;
}

#HeaderForLookHome {
  margin: 0px;
  /* margin-top: 10px; */
  margin-bottom: 5px;
}

#bb {
  border-bottom: 1px solid rgb(222, 213, 213);
  padding-bottom: 10px;
  height: 255px;
}

#ButtonHomeLook {
  background-image: linear-gradient(to left, #c1b1a7 0%, #876253 51%, #b89587 100%);
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(224, 224, 224);
  box-shadow: 0 0 20px #eee;
  width: 130px;
  height: 65px;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

.ADD_Look_home {
  display: flex;
  margin-block: 5px;
}

#no-looks-message {
  position: relative;
  top: 300px;
}

/* #loading-message {
  position: relative;
  top: 300px;
} */

.LastOutfitBlock {
  margin-top: 20px;
}

#h3 {
  border-top: 1px solid rgb(222, 213, 213);
  padding-top: 20px;

}

#clothing-list-home {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  gap: 25px;
}

#clothing-item {
  position: relative;
  width: 80px;
  /* הגדרת הרוחב מחדש */
  height: auto;
  box-shadow: 0 4px 8px rgb(0 0 0 / 26%);
  background: #fff;
  margin-top: 10px;

}

#clothing-image img {
  width: auto;
  /* רוחב התמונה */
  height: 100px;
  margin: 5px;
}

.icon-section {
  display: flex;
  flex-direction: column;
  /* שינוי לכיוון אנכי */
  align-items: center;
  margin-top: 20px;
}

.icon-container {
  position: relative;
  margin-bottom: 5px;
}

.selected-outfit {
  margin-top: 20px;
}

.selected-item {
  margin: 10px 0;
}

.selected-item img {
  width: 100px;
  height: auto;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  margin: 10px;
  cursor: pointer;
  text-align: center;
}

.item img {
  width: 50px;
  height: auto;
}

.item span {
  display: block;
  margin-top: 5px;
}

img.icon {
  width: 100px;
}

.ADD_Look {
  padding: 5px;
}

.Calendar {
  background-color: grey;

}

.react-calendar__navigation button,
.react-calendar__month-view__weekdays__weekday,
.react-calendar__month-view__days__day--weekend,
.react-calendar.react-calendar button {
  color: #fff;
}

.react-calendar {
  background-color: #676464;
}

.h4 {
  color: grey;
}

.modal_HomeLook {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content_HomeLook {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: none;
  max-width: 400px;
  margin: 1.75rem auto;
  padding: 1rem;
  text-align: center;
}
.modal-content_HomeLook p{
  font-size: 25px;
}

.modal-close {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  opacity: 0.5;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-footer_HomeLook:hover {
  opacity: 1;
}

.modal-footer_HomeLook {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-footer_HomeLook button {
  color: #fff;
  background-color: #c78a78;
  border: 1px solid #c78a78;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.modal-footer_HomeLook button:hover {
  background-color: #c19b8f;
  border-color: #c19b8f;
}
