.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal-header {
    font-size: 2rem;
    color: green;
}

.modal-body {
    margin-top: 10px;
    font-size: 1.2rem;
}

.close-modal-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-image: linear-gradient(to left, #c1b1a7 0%, #876253 51%, #b89587 100%);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(224, 224, 224);
    box-shadow: 0 0 50px #eee;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
